<%- include('../partials/header') %>


<div class="container col-xxl-8 px-4 py-5" style="margin-top: 0; margin-bottom: 0;">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6"> <img src="/images/login/download.jpg" class="d-block mx-lg-auto img-fluid"
        alt="Coffee" width="700" height="500" loading="lazy"> </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">When Coffee Can't Wait For Digestion</h1>
      <p class="lead">At our coffee shop, every cup is rich, smooth, and made with care from carefully selected beans. We pair great coffee with freshly prepared food that’s comforting, flavorful, and made to satisfy. Whether you’re here for a quick boost or a relaxed break, we serve quality and warmth in every sip and bite.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start"> 
        <a href="/login" class="btn btn-success btn-lg px-4 me-md-2" style="background-color: #0d5e36;">Login</a> 
        <a href="/register" class="btn btn-outline-secondary btn-lg px-4">Register</a> </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>